{% extends 'main/base.html' %}

{% block title %}
Алаш
{% endblock %}

{% block my_page %} {{ page.title }} {% endblock %}
{% block newsmy %} {{ page.title }} {% endblock %}
{% block mymb %} {{ page.title }} {% endblock %}
{% block newsmymb %} {{ page.title }} {% endblock %}

{% block body %}
<script src="{{  url_for('static', filename='js/family.js') }}"></script>
<div id="tree" style="width: 100%; height: 100vh;"></div>
    <script>
        async function loadFamilyData() {
            try {
                // Делаем GET-запрос
                const response = await fetch("http://127.0.0.1:5000/my/family/get/my");
                if (!response.ok) {
                    throw new Error("Failed to fetch family data");
                }

                // Преобразуем JSON-ответ
                const data = await response.json();

                // Конвертируем данные в нужный формат
                const myFamily = data.map(member => {
                    const formattedMember = {
                        id: member.id,
                        name: member.name,
                        gender: member.gender,
                        birthday: member.birthday,
                    };

                    // Добавляем mid, fid, pids и death, если они есть
                    if (member.mid) formattedMember.mid = member.mid;
                    if (member.fid) formattedMember.fid = member.fid;
                    if (member.pids) formattedMember.pids = member.pids;
                    if (member.death) formattedMember.death = member.death;

                    return formattedMember;
                });

                console.log(myFamily); // Посмотрим на результат
            } catch (error) {
                console.error("Error loading family data:", error);
            }
        }

    </script>

<script src="{{ url_for('static', filename='js/scrFamily.js') }}"></script>
{% endblock %}